<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
</head>
<body>
    <form method="POST" th:action="@{/transfer}">
        <input type="text" placeholder="recipient" name="recipient" />
        <input type="text" placeholder="amount" name="amount" />
        <input type="text" placeholder="title" name="title"/>
        <button type="submit">Send</button>

        <p th:if="${recipientError}">Recipient does not exist</p>
        <p th:if="${amountNotMoreThanZeroError}">You can send onlu more than 0</p>
        <p th:if="${insufficientAmounError}">You do not have enough money</p>
        <p th:if="${titleError}">Title is required</p>
    </form>
</body>
</html>